html, body {
    position: relative;
    height: 100%;
    width: 100%;
}

.homepageCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    font-family: $font-family-primary;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;

    .sec1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #437D3B;
        position: relative;
        overflow: hidden;

        .sec1__leafCont {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 450;
            pointer-events: none;
            overflow: hidden;

            .dot{
                width:50px;
                height:50px;
                position:absolute;
                background: url("../static/leaf/leaf2.png");
                background-size: 100% 100%;
            }
        }

        .sec1__backgroundImage {
            @include breakpoint(phablet) {
                min-height: 400px;
                padding: 0;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-top: 100px;
            width: 100%;
            background-image: url("../static/section1/main-background.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: 350px;
            z-index: 500;
            box-sizing: border-box;
            padding: 0 20px;

            .sec1__logo {
                display: block;
                position: absolute;
                top: -95px;
                width: 100%;
                max-width: 150px;
            }

            .sec1__slogan {
                display: block;
                width: 100%;
                max-width: 550px;
            }
        }

        .sec1__bot {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            min-height: 250px;
            background-image: url("../static/section1/main-background2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            box-sizing: border-box;
            padding: 0 20px 80px 20px; 

            .bot__container {
                @include breakpoint(phablet) {
                    margin-top: -100px;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 1000px;
                margin-top: -75px;
                z-index: 750;
                
                .imageGroup {
                    @include breakpoint(phablet) {
                        width: auto;
                    }
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 250px;

                    .image1 {
                        @include breakpoint(phablet) {
                            width: auto;
                        }
                        width: 50%;
                    }

                    .image2 {
                        @include breakpoint(phablet) {
                            width: auto;
                        }
                        width: 40%;
                        margin-left: 15px;
                    }
                }

                .groupRight {
                    @include breakpoint(phablet) {
                        flex-direction: row;
                        justify-content: space-around;
                    }
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 40px;
                    width: 100%;
                }

                .iconGroup {
                    @include breakpoint(phablet) {
                        margin-bottom: 0px;
                        max-width: 135px;
                    }
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    max-width: 120px;
                    margin-bottom: 15px;

                    .iconGroup__icon {
                        width: 100%;
                        margin-bottom: 10px;
                    }

                    .iconGroup__text {
                        color: #437D3B;
                        text-align: center;
                        width: 100%;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .sec2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #437D3B;
        position: relative;

        .sec2__background {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            box-sizing: border-box;
            background-image: url("../static/section2/sec2-background.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 100%;
            padding: 50px 20px 120px 20px;
            z-index: 500;
            
            .sec2__title {
                @include breakpoint(phablet) {
                    font-size: 30px;
                    line-height: 34px;
                }
                display: block;
                width: 100%;
                max-width: 550px;
                text-align: center;
                font-weight: 700;
                font-size: 26px;
                line-height: 30px;
                color: #ffffff;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
                margin-bottom: 40px;

                span {
                    @include breakpoint(phablet) {
                        font-size: 42px;
                        line-height: 46px;
                    }
                    color: #F8C300;
                    font-size: 38px;
                    line-height: 42px;
                }
            }

            .sec2__icon {
                width: 100%;
                max-width: 150px;
            }
        }

        .sec2__bot {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            box-sizing: border-box;
            padding: 0 0px 60px 0px;

            .formCode {
                @include breakpoint(phablet) {
                    margin-top: -52px;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: -40px;
                z-index: 750;
                
                .formCode__top {
                    @include breakpoint(phablet) {
                        max-width: 550px;
                        padding: 10px 65px;
                    }
                    display: flex;
                    background-image: url("../static/section2/sec2-container.png");
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-position: center center;
                    border-radius: 28px;
                    box-sizing: border-box;
                    padding: 10px 0px;
                    margin-bottom: 25px;
                    width: 100%;
                    max-width: 100%;

                    .titleTop {
                        @include breakpoint(phablet) {
                            font-size: 36px;
                            line-height: 40px;
                        }
                        text-align: center;
                        color: #295C22;
                        font-weight: 700;
                        font-size: 26px;
                        line-height: 30px;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }

                .formCode__input {
                    @include breakpoint(phablet) {
                        width: 100%;
                    }
                    background-color: white;
                    width: calc(100% - 20px);
                    max-width: 425px;
                    border-radius: 10px;
                    text-align: left;
                    border-width: 0px;
                    border:none;
                    -webkit-appearance: none;
                    min-height: 40px;
                    color: black;
                    font-weight: bold;
                    margin-bottom: 10px;
                    padding: 0 15px;
                    box-sizing: border-box;
                
                    &::placeholder {
                        color: black;
                        font-weight: bold;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                .formCode__select {
                    @include breakpoint(phablet) {
                        width: 100%;
                    }
                    background-color: white;
                    width: calc(100% - 20px);
                    max-width: 425px;
                    border-radius: 10px;
                    text-align: left;
                    border-width: 0px;
                    border:none;
                    -webkit-appearance: none;
                    min-height: 40px;
                    color: black;
                    font-weight: bold;
                    margin-bottom: 10px;
                    padding: 0 15px;
                    box-sizing: border-box;
                
                    &::placeholder {
                        color: black;
                        font-weight: bold;
                    }

                    &:focus {
                        outline: none;
                    } 
                }

                .formCode__submitBtn {
                    @include breakpoint(phablet) {
                        font-size: 36px;
                        line-height: 40px;
                    }
                    background-color: #92C95E;
                    color: white;
                    box-sizing: border-box;
                    min-width: 250px;
                    font-size: 30px;
                    line-height: 34px;
                    font-weight: 700;
                    padding: 10px 10px;
                    border-radius: 10px;
                    border: none;
                    margin-top: 20px;
                    cursor: pointer;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    margin-bottom: 50px;
                }

                .form__message {
                    @include breakpoint(phablet) {
                        width: 500px;
                    }
                    width: calc(100% - 20px);
                    font-weight: 700;
                    text-align: center;
                    color: white;
                    font-size: 22px;
                    line-height: 26px;
                }
            }
        }

        .sec2__bot2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            box-sizing: border-box;
            min-height: 500px;
            padding: 0 20px;
            box-sizing: border-box;
            background-image: url("../static/section2/sec2-background2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            z-index: 500;

            .bot2__center {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 25px 50px;
                box-sizing: border-box;
                background-image: url("../static/section1/main-background2.png");
                background-repeat: repeat;
                background-size: cover;
                background-position: center center;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                border-radius: 50px;
                position: relative;
                max-width: 520px;

                .imgPlant {
                    position: absolute;
                    max-width: 150px;
                    top: -110px
                }

                .titleTop {
                    text-align: center;
                    font-size: 32px;
                    line-height: 36px;
                    margin-bottom: 15px;
                    color: #295C22;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }

                .titleBot {
                    @include breakpoint(phablet) {
                        font-size: 40px;
                        line-height: 44px;
                    }
                    text-align: center;
                    font-size: 32px;
                    line-height: 36px;
                    color: #437D3B;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            }
        }
    }

    .sec3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #437D3B;

        .sec3__titleCont {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-color: #437D3B;
            box-sizing: border-box;
            padding: 25px 20px;
            
            .titleTop {
                font-size: 40px;
                line-height: 44px;
                font-weight: bold;
                color: white;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                z-index: 500;
            }
        }

        .sec3__center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            background-image: url("../static/section1/main-background2.png");
            background-repeat: repeat;
            background-size: cover;
            background-position: center center;
            box-sizing: border-box;
            padding: 40px 0px 80px 0px;

            .descriptionTop {
                color: #437D3B;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;
                margin-bottom: 60px;
                max-width: 550px;
                width: 100%;
                text-align: center;
            }

            .prize-carousel {
                @include breakpoint(phablet) {
                    max-height: 460px;
                }
                width: 100%;
                max-width: 700px;
                max-height: 400px;
                height: 100%;
                position: relative;
                z-index: 500;

                .slick-prev {
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    z-index: 9999;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }

                .slick-next {
                    position: absolute;
                    right: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    z-index: 9999;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }

                .slick-list {
                    overflow: visible;
                    height: 100%;
                }

                .slick-track {
                    display: flex;
                    align-items: center;
                    height: 100%;
                }

                .slick-slide {
                    transition: all 0.3s ease-in-out;
                
                    &:focus {
                        outline: none;
                    }

                    &.slick-center .prizeCard {
                        // padding: 0px;
                        transform: scale(1);
                        box-sizing: border-box;
                        opacity: 1;
                        transition: opacity, transform 0.3s ease-in-out;
                    }
                }

                .prizeCard {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    // padding: 0 15%;
                    box-sizing: border-box;
                    opacity: 0.7;
                    transform: scale(0.6);

                    .prizeCard__img {
                        width: 100%;
                        display: block;
                        margin-bottom: 20px;
                    }

                    .prizeCard__title {
                        text-align: center;
                        color: #437D3B;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 28px;
                    }
                }
            }
        }

        .sec3__space {
            display: block;
            width: 100%;
            height: 80px;
        }
    }

    .sec4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #437D3B;

        .sec4__background {
            @include breakpoint(phablet) {
                min-height: 600px;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            padding: 0 20px;
            background-image: url("../static/section4/sec4-backgroundTop.png");
            background-repeat: repeat;
            background-size: cover;
            background-position: center center;
            min-height: 400px;
            z-index: 500;

            .sec4__title {
                @include breakpoint(phablet) {
                    font-size: 36px;
                    line-height: 40px;
                }
                display: block;
                width: 100%;
                max-width: 550px;
                text-align: center;
                font-weight: 700;
                font-size: 30px;
                line-height: 34px;
                color: #ffffff;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }

        .sec4__bot {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;
            min-height: 250px;
            background-image: url("../static/section1/main-background2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            box-sizing: border-box;
            padding: 0 20px 80px 20px; 

            .sec4__contain {
                @include breakpoint(phablet) {
                    margin-top: -160px;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding: 0px;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 1000px;
                margin-top: 0px;
                z-index: 750;
                box-sizing: border-box;
                padding: 60px 0px 0px 0px;
                
                .imageGroup {
                    @include breakpoint(phablet) {
                        width: auto;
                        margin-bottom: 0px;
                    }
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 250px;
                    margin-bottom: 25px;

                    .image1 {
                        @include breakpoint(phablet) {
                            width: auto;
                        }
                        width: 50%;
                    }

                    .image2 {
                        @include breakpoint(phablet) {
                            width: auto;
                        }
                        width: 40%;
                        margin-left: 15px;
                    }
                }

                .textRight {
                    @include breakpoint(phablet) {
                        text-align: left;
                        font-size: 24px;
                        line-height: 28px;
                        padding: 0px 40px 20px 40px;
                    }
                    @include breakpoint(desktop) {
                        font-size: 32px;
                        line-height: 36px;
                    }
                    color: #295C22; 
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 26px;
                    box-sizing: border-box;
                    padding: 0px;
                    text-align: center;
                }
            }
        }
    }

    .sec5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #437D3B;
        position: relative;

        .sec5__top {
            @include breakpoint(phablet) {
                min-height: 250px;
            }
            display: block;
            width: 100%;
            background-image: url("../static/section5/sec5-background.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            min-height: 200px;
            z-index: 500;
        }

        .sec5__bot {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("../static/section5/sec5-background2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            box-sizing: border-box;
            padding: 0px 20px 50px 20px;
            position: relative;
            width: 100%;

            .sec5__icon {
                width: 180px;
                margin-bottom: 40px;
                z-index: 750;
                margin-top: -100px;
            }

            .sec5__textCont {
                @include breakpoint(phablet) {
                    font-size: 24px;
                    line-height: 28px;
                }
                color: #295C22;
                font-weight: 700;
                text-align: center;
                font-size: 22px;
                line-height: 26px;
                max-width: 550px;
                z-index: 750;
            }

            .sec5__imageLeft {
                @include breakpoint(desktop) {
                    opacity: 1;
                    pointer-events: auto;
                }
                position: absolute;
                left: -50px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 750;
                opacity: 0;
                pointer-events: none;
            }

            .sec5__imageRight {
                @include breakpoint(desktop) {
                    opacity: 1;
                    pointer-events: auto;
                }
                position: absolute;
                right: -50px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 750;
                opacity: 0;
                pointer-events: none;
            }
        }

        .photo-carousel {
            width: 100%;
            max-width: 100%;
            z-index: 500;

            .slick-prev {
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                cursor: pointer;
                z-index: 9999;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }

            .slick-next {
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                cursor: pointer;
                z-index: 9999;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)), drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
        }
    }

    .sec6 {
        @include breakpoint(desktop) {
            padding: 60px 20px 0px 20px;
        }
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #437D3B;
        position: relative;
        background-image: url("../static/section6/sec6-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        box-sizing: border-box;
        padding: 60px 20px 60px 20px;
        z-index: 500;

        .sec6__container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            max-width: 1000px;
            width: 100%;
        }

        .sec6__left {
            @include breakpoint(desktop) {
                margin-right: 25px;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 0px;
            width: 100%;

            .contDescription {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .sec6__title {
                    font-weight: bold;
                    font-size: 32px;
                    line-height: 36px;
                    color: #FFFFFF;
                    text-align: center;
                    margin-bottom: 20px;
                }

                .sec6__imageGeneral {
                    display: block;
                    margin-bottom: 25px;
                }

                .sec6__text {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    color: #FFFFFF;
                    text-align: center;
                    margin-bottom: 30px;
                }

                .appContainer {
                    @include breakpoint(phablet) {
                        flex-direction: row;
                    }
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;

                    .linkTo {
                        @include breakpoint(phablet) {
                            margin: 0 10px;
                        }
                        margin: 10px 0px;
                        width: auto;

                        .imageIn {
                            width: auto;
                        }
                    }
                }

                .ministerBot {
                    background-color: white;
                    padding: 15px;

                    .ministerImage {

                    }
                }
            }
        }

        .sec6__right {
            @include breakpoint(desktop) {
                display: flex;
            }
            display: none;
        }
    }

    .footer {
        @include breakpoint(phablet) {
            padding: 40px 20px 40px 20px;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #437D3B;
        box-sizing: border-box;
        padding: 40px 20px 20px 20px;

        .footer__iconCenter {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
            z-index: 500;
        }

        .footer__bar {
            @include breakpoint(phablet) {
                flex-direction: row;
                justify-content: space-between;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            z-index: 500;

            .linkTo {
                @include breakpoint(phablet) {
                    max-width: 100px;
                    font-size: 16px;
                    line-height: 20px;
                }
                text-decoration: none;
                color: white;
                text-align: center;
                font-size: 14px;
                line-height: 18px;
                font-weight: 700;
                max-width: 100px;

                &.hide-reverse {
                    @include breakpoint(phablet) {
                        display: none;
                    }
                    display: block;
                    margin-top: 15px;
                }

                &.hide {
                    @include breakpoint(phablet) {
                        display: block;
                    }
                    display: none;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            .barCenter {
                @include breakpoint(phablet) {
                    margin-top: 0px;
                }
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 15px;

                .linkToIcon {
                    margin: 0px 10px;
                }
            }
        }
    }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}