<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCHICK</title>
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <link href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="static/favicon.png" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {{!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177876343-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-177876343-1');
    </script> --}}
</head>

<body>
    <div class="homepageCont">
        <section class="section sec1">
            <div id="sec1__leafCont" class="sec1__leafCont"></div>
            <div class="sec1__backgroundImage">
                <img class="sec1__logo" src="./static/main-logo.png" alt="schick-logo">
                <img class="sec1__slogan" src="./static/main-text.png" alt="main-text">
            </div>
            <div class="sec1__bot">
                <div class="bot__container">
                    <div class="imageGroup">
                        <img class="image1" src="./static/main-image1.png" alt="schick-producto">
                        <img class="image2" src="./static/main-image2.png" alt="schick-producto">
                    </div>
                    <div class="groupRight">
                        <div class="iconGroup">
                            <img class="iconGroup__icon" src="./static/main-icon1.png" alt="schick-icon">
                            <p class="iconGroup__text">Empaque 100% reciclable</p>
                        </div>
                        <div class="iconGroup">
                            <img class="iconGroup__icon" src="./static/main-icon2.png" alt="schick-icon">
                            <p class="iconGroup__text">Mango hecho de plástico reciclado</p>
                        </div>
                        <div class="iconGroup">
                            <img class="iconGroup__icon" src="./static/main-icon3.png" alt="schick-icon">
                            <p class="iconGroup__text">50% más de banda lubricante</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section sec2">
            <div class="sec2__background">
                <h1 class="sec2__title">
                    <span>TU APORTE AYUDARÁ</span>
                    <br> 
                    A LA REFORESTACIÓN DE LA SELVA PERUANA EN CONJUNTO CON EL REGIGIO K’ERENDA HOMET
                </h1>
                <img class="sec2__icon" src="./static/sec2-icon.png" alt="schick-icon">
            </div>
            <div class="sec2__bot">
                <form class="formCode" action="" method="POST">
                    <div class="formCode__top">
                        <h1 class="titleTop">INGRESA TU CÓDIGO, CONCURSA Y AYUDA</h1>
                    </div>
                    <input type="text" id="form_name" name="form_name" class="formCode__input" placeholder="NOMBRE">
                    <input type="text" id="form_email" name="form_email" class="formCode__input" placeholder="CORREO ELECTRÓNICO">
                    <input type="text" id="form_code" name="form_code" class="formCode__input" placeholder="CÓDIGO PRODUCTO">
                    <input type="text" id="form_boleta" name="form_boleta" class="formCode__input" placeholder="NÚMERO DE BOLETA">
                    <select id="form_place" name="form_place" class="formCode__select">
                        <option value="0">LUGAR DE COMPRA</option>
                        <option value="1">PLAZA VEA</option>
                        <option value="2">TOTTUS</option>
                        <option value="3">METRO</option>
                        <option value="4">VIVANDA</option>
                        <option value="5">WONG</option>
                    </select>
                    <input class="formCode__submitBtn" type="submit" value="ENVIAR">
                    <p class="form__message">Recuerda guardar tu boleta para asegurar tu premio al momento del sorteo, Bases ante notario LINK.</p>
                </form>
            </div>
            <div class="sec2__bot2">
                <div class="bot2__center">
                    <img class="imgPlant" src="./static/sec2-plant.png">
                    <h1 class="titleTop">¡GRACIAS POR TU AYUDA!</h1>
                    <h2 class="titleBot">
                        HAS APORTADO CON:<br>
                        0.7 ÁRBOLES
                    </h2>
                </div>
            </div>
        </section>

        <section class="section sec3">
            <div class="sec3__titleCont">
                <h1 class="titleTop">PREMIOS</h1>
            </div>
            <div class="sec3__center">
                <p class="descriptionTop">INGRESANDO TU CODIGO PODRÁS GANAR LOS SIGUIENTES PREMIOS, BASES ANTE NOTARIO</p>
                <div class="prize-carousel">
                    <div class="prizeCard">
                        <img class="prizeCard__img" src="./static/sec3-premio.png">
                        <h4 class="prizeCard__title">BICICLETA ELECTRICA JEEP</h4>
                    </div>
                    <div class="prizeCard">
                        <img class="prizeCard__img" src="./static/sec3-premio.png">
                        <h4 class="prizeCard__title">BICICLETA ELECTRICA JEEP</h4>
                    </div>
                    <div class="prizeCard">
                        <img class="prizeCard__img" src="./static/sec3-premio.png">
                        <h4 class="prizeCard__title">BICICLETA ELECTRICA JEEP</h4>
                    </div>
                    <div class="prizeCard">
                        <img class="prizeCard__img" src="./static/sec3-premio.png">
                        <h4 class="prizeCard__title">BICICLETA ELECTRICA JEEP</h4>
                    </div>
                    <div class="prizeCard">
                        <img class="prizeCard__img" src="./static/sec3-premio.png">
                        <h4 class="prizeCard__title">BICICLETA ELECTRICA JEEP</h4>
                    </div>
                    <div class="prizeCard">
                        <img class="prizeCard__img" src="./static/sec3-premio.png">
                        <h4 class="prizeCard__title">BICICLETA ELECTRICA JEEP</h4>
                    </div>
                </div>
            </div>
            <div class="sec3__space"></div>
        </section>

        <section class="section sec4">
            <div class="sec4__background">
                <p class="sec4__title">En Schick buscamos ser aliados en el cuidado del medio ambiente</p>
            </div>
            <div class="sec4__bot">
                <div class="sec4__contain">
                    <div class="imageGroup">
                        <img class="image1" src="./static/main-image1.png" alt="schick-producto">
                        <img class="image2" src="./static/main-image2.png" alt="schick-producto">
                    </div>
                    <div class="textRight">Por eso decidimos crear Schick Xtreme 3 Ultimate Eco, una máquina de afeitar cuyo mango y empaque están hechos de material reciclado y son 100% reciclables.</div>
                </div>
            </div>
        </section>

        <section class="section sec5">
            <div class="sec5__top"></div>
            <div class="sec5__bot">
                <img class="sec5__icon" src="./static/sec5-icon.png" alt="schick-icon">
                <div class="sec5__textCont">
                    Nuestro aporte ayudará a la reserva natural Kerenda Homet, ubicada en Madre de Dios, Su labor es la promoción de la conservación, Agroforestería y promoción de la investigación en la selva peruana.
                </div>
                <img class="sec5__imageLeft" src="./static/sec5-imageLeft.png" alt="schick-imageLeft">
                <img class="sec5__imageRight" src="./static/sec5-imageRight.png" alt="schick-imageRight">
            </div>
            <div class="photo-carousel">
                <img class="photo__image" src="./static/sec5-photo.png">
                <img class="photo__image" src="./static/sec5-photo.png">
                <img class="photo__image" src="./static/sec5-photo.png">
                <img class="photo__image" src="./static/sec5-photo.png">
                <img class="photo__image" src="./static/sec5-photo.png">
            </div>
        </section>

        <section class="section sec6">
            <div class="sec6__container">
                <div class="sec6__left">
                    <div class="contDescription">
                        <h1 class="sec6__title">Te invitamos a descargar la App</h1>
                        <img class="sec6__imageGeneral" src="./static/sec6-general.png">
                        <p class="sec6__text">
                            desarrollada por el ministerio del Ambiente que te permitirá conocer los lugares donde puedes dejar tus deshechos reciclables.
                        </p>
                        <div class="appContainer">
                            <a class="linkTo" href="#">
                                <img class="imageIn" src="./static/sec6-app.png">
                            </a>
                            <a class="linkTo" href="#">
                                <img class="imageIn" src="./static/sec6-play.png">
                            </a>
                        </div>
                        <div class="ministerBot">
                            <img class="ministerImage" src="./static/sec6-logo.png">
                        </div>
                    </div>
                </div>
                <div class="sec6__right">
                    <img class="imageRight" src="./static/sec6-imageRight.png">
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer__iconCenter">
                <img class="iconCenter" src="./static/footer-logo.png">
            </div>
            <div class="footer__bar">
                <a class="linkTo" href="#">Bases del concurso</a>
                <a class="linkTo hide-reverse" href="#">Términos y condiciones</a>
                <div class="barCenter">
                    <a class="linkToIcon" href="#">
                        <img class="iconCenter" src="./static/footer-facebook.png">
                    </a>
                    <a class="linkToIcon" href="#">
                        <img class="iconCenter" src="./static/footer-global.png">
                    </a>
                    <a class="linkToIcon" href="#">
                        <img class="iconCenter" src="./static/footer-instagram.png">
                    </a>
                </div>
                <a class="linkTo hide" href="#">Términos y condiciones</a>
            </div>
        </footer>
    </div>

    <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
    <script src="https://kit.fontawesome.com/f0a93d6362.js" crossorigin="anonymous"></script>
</body>

</html>