<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUD Producciones</title>
    <script defer src="https://friconix.com/cdn/friconix.js"> </script>
    <link href="https://vjs.zencdn.net/7.8.4/video-js.css" rel="stylesheet" />
    <link href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="static/favicon.png" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {{!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177876343-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-177876343-1');
    </script> --}}
</head>

<body>
    <div class="homepageCont">
        <div class="innerContDesktop">
            <div id="pantalla1" class="sec1">
                <div class="sec1__top">
                    <img class="sec1__img" src="./static/logo-principal.png">
                    <h1 class="sec1__title">NUESTROS ÚLTIMOS <span class="titleBold">EVENTOS DIGITALES</span></h1>
                    <div class="sec1__scrollCont">
                        <p class="scrollTop">Scroll down</p>
                        <i class="scrollBot fi-xnsdxl-chevron-solid"></i>
                    </div>
                </div>
                <div class="sec1__bot">
                    <div class="botFill"></div>
                    <div class="bot__part partTop1">
                        <div class="part__cont">
                            <div class="part__logoImg">
                                <img src="./static/natura.png">
                            </div>
                            <p class="part__partText">CONVENCIÓN DIGITAL<br>NACIONAL NATURA 2020</p>
                            <div class="bar bar1"></div>
                        </div>
                    </div>
                    <div class="bot__part partTop2">
                        <div class="part__cont">
                            <div class="part__logoImg">
                                <img src="./static/hm.png">
                            </div>
                            <p class="part__partText">
                                LANZAMIENTO DIGITAL <br>H&M CONSCIOUS EXCLUSIVE
                            </p>
                            <div class="bar bar2"></div>
                        </div>
                    </div>
                    <div class="bot__part partTop3">
                        <div class="part__cont">
                            <div class="part__logoImg">
                                <img src="./static/loreal.png">
                            </div>
                            <p class="part__partText">EVENTO VIRTUAL<br>LIBRE TOUR YSL</p>
                            <div class="bar bar3"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sec2">
                <div class="sec2__desktop">
                    <div class="sec2__top">
                        <div id="sector1" class="sec2__part part1">
                            <div id="strip1" class="divStrip">
                                <img class="divStrip__icon" src="./static/flecha.png">
                                <p class="divStrip__partText">CCONVENCIÓN DIGITAL NACIONAL NATURA 2020</p>
                            </div>
                            <div class="divStrip2">
                                <img class="divStrip2__icon" src="./static/flecha.png">
                                <p class="divStrip2__partText">CCONVENCIÓN DIGITAL NACIONAL NATURA 2020</p>
                            </div>
                            <div id="divClose1" class="divClose">
                                <div class="divCloseIn">
                                    <div class="divCloseIn__logoImg">
                                        <img src="./static/natura.png">
                                    </div>
                                    <img class="divCloseIn__video" src="./static/natura.gif">
                                    <p class="divCloseIn__partText">CONVENCIÓN DIGITAL<br>NACIONAL NATURA 2020</p>
                                    <p class="divCloseIn__partText top">CHILE</p>
                                </div>
                                <div class="divCloseOut">
                                    <div class="divCloseOut__logoImg">
                                        <img src="./static/natura.png">
                                    </div>
                                    <div class="divCloseOut__video">
                                        <video id="video-desktop-1" class="video-js vjs-theme-fantasy" controls
                                            preload="auto" poster="./static/fotoNatura.jpg"
                                            data-setup='{"fluid": true}'>
                                            <source src="./static/natura.mp4" type="video/mp4" />
                                            <p class="vjs-no-js">
                                                To view this video please enable JavaScript, and consider upgrading to a
                                                web browser that
                                                <a href="https://videojs.com/html5-video-support/"
                                                    target="_blank">supports HTML5 video</a>
                                            </p>
                                        </video>
                                    </div>
                                    <p class="divCloseOut__partText">CONVENCIÓN DIGITAL NACIONAL NATURA 2020</p>
                                    <p class="divCloseOut__partText2">
                                        Cuatro eventos digitales consecutivos, para colaboradores de todo Chile en
                                        plataforma Streaming. El evento combinó transmisión en vivo con un potente
                                        trabajo
                                        de pre y post producción en estudio de grabación, a cargo del equipo de SUD
                                        Chile.
                                        Un tremendo proyecto y un gran resultado.
                                    </p>
                                    <div class="divCloseOut__link">
                                        <div class="link__innerTop">CONOCE MÁS DE NUESTROS EVENTOS DIGITALES</div>
                                        <div class="link__innerBot">
                                            <a target="_self" class="link__linkTo border1"
                                                href="https://sudproducciones.cl/experiencias-virtuales/">CHILE</a>
                                            <a target="_self" class="link__linkTo"
                                                href="https://sudproducciones.pe/experiencias-virtuales/">PERU</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sector2" class="sec2__part part2">
                            <div id="strip2" class="divStrip">
                                <img class="divStrip__icon" src="./static/flecha.png">
                                <p class="divStrip__partText txtLeft">LANZAMIENTO DIGITAL H&M CONSCIOUS EXCLUSIVE</p>
                            </div>
                            <div class="divStrip2">
                                <img class="divStrip2__icon" src="./static/flecha.png">
                                <p class="divStrip2__partText txtLeft">LANZAMIENTO DIGITAL H&M CONSCIOUS EXCLUSIVE</p>
                            </div>
                            <div id="divClose2" class="divClose">
                                <div class="divCloseIn">
                                    <div class="divCloseIn__logoImg">
                                        <img src="./static/hm.png">
                                    </div>
                                    <img class="divCloseIn__video" src="./static/hm.gif">
                                    <p class="divCloseIn__partText">LANZAMIENTO DIGITAL <br>H&M CONSCIOUS EXCLUSIVE</p>
                                    <p class="divCloseIn__partText top">PERÚ</p>
                                </div>
                                <div class="divCloseOut">
                                    <div class="divCloseOut__logoImg">
                                        <img src="./static/hm.png">
                                    </div>
                                    <div class="divCloseOut__video">
                                        <video id="video-desktop-2" class="video-js vjs-theme-fantasy" controls
                                            preload="auto" poster="./static/fotoHM.jpg" data-setup='{"fluid": true}'>
                                            <source src="./static/hm.mp4" type="video/mp4" />
                                            <p class="vjs-no-js">
                                                To view this video please enable JavaScript, and consider upgrading to a
                                                web browser that
                                                <a href="https://videojs.com/html5-video-support/"
                                                    target="_blank">supports HTML5 video</a>
                                            </p>
                                        </video>
                                    </div>
                                    <p class="divCloseOut__partText">LANZAMIENTO DIGITAL H&M CONSCIOUS EXCLUSIVE</p>
                                    <p class="divCloseOut__partText2">
                                        Plataforma web para Perú, Chile y Uruguay, con un Desfile digital en vivo,
                                        Conversatorio vía streaming con Natalia Oreiro, Showroom digital, y todo sobre
                                        la
                                        colección. SUD Perú estuvo a cargo del diseño y desarrollo de la plataforma
                                        digital
                                        para los 3 países y de toda la coordinación, lo que garantizó que fuera un gran
                                        éxito.
                                    </p>
                                    <div class="divCloseOut__link">
                                        <div class="link__innerTop">CONOCE MÁS DE NUESTROS EVENTOS DIGITALES</div>
                                        <div class="link__innerBot">
                                            <a target="_self" class="link__linkTo border1"
                                                href="https://sudproducciones.cl/experiencias-virtuales/">CHILE</a>
                                            <a target="_self" class="link__linkTo"
                                                href="https://sudproducciones.pe/experiencias-virtuales/">PERU</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sector3" class="sec2__part part3">
                            <div id="strip3" class="divStrip">
                                <img class="divStrip__icon" src="./static/flecha.png">
                                <p class="divStrip__partText">EVENTO VIRTUAL LIBRE TOUR YSL</p>
                            </div>
                            <div id="strip3" class="divStrip2">
                                <img class="divStrip2__icon" src="./static/flecha.png">
                                <p class="divStrip2__partText">EVENTO VIRTUAL LIBRE TOUR YSL</p>
                            </div>
                            <div id="divClose3" class="divClose">
                                <div class="divCloseIn">
                                    <div class="divCloseIn__logoImg">
                                        <img src="./static/loreal.png">
                                    </div>
                                    <img class="divCloseIn__video" src="./static/libre.gif">
                                    <p class="divCloseIn__partText">EVENTO VIRTUAL<br>LIBRE TOUR YSL</p>
                                    <p class="divCloseIn__partText top">CHILE</p>
                                </div>
                                <div class="divCloseOut">
                                    <div class="divCloseOut__logoImg">
                                        <img src="./static/loreal.png">
                                    </div>
                                    <div class="divCloseOut__video">
                                        <video id="video-desktop-3" class="video-js vjs-theme-fantasy" controls
                                            preload="auto" poster="./static/fotoYSL.jpg" data-setup='{"fluid": true}'>
                                            <source src="./static/loreal.mp4" type="video/mp4" />
                                            <p class="vjs-no-js">
                                                To view this video please enable JavaScript, and consider upgrading to a
                                                web browser that
                                                <a href="https://videojs.com/html5-video-support/"
                                                    target="_blank">supports HTML5 video</a>
                                            </p>
                                        </video>
                                    </div>
                                    <p class="divCloseOut__partText">EVENTO VIRTUAL LIBRE TOUR YSL</p>
                                    <p class="divCloseOut__partText2">
                                        Lanzamiento de realidad virtual en plataforma unity, con una fiesta VIP, vía
                                        streaming y premios, todo entorno al nuevo perfume LIBRE de YSL. El evento fue
                                        desarrollado por el equipo de producción y dirección de arte de SUD Chile y
                                        marcó
                                        un referente en cuanto a tendencias digitales.
                                    </p>
                                    <div class="divCloseOut__link">
                                        <div class="link__innerTop">CONOCE MÁS DE NUESTROS EVENTOS DIGITALES</div>
                                        <div class="link__innerBot">
                                            <a target="_self" class="link__linkTo border1"
                                                href="https://sudproducciones.cl/experiencias-virtuales/">CHILE</a>
                                            <a target="_self" class="link__linkTo"
                                                href="https://sudproducciones.pe/experiencias-virtuales/">PERU</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sec2__footer">
                        <div class="footer__lat">
                            <a target="_self" href="https://sudproducciones.cl/contacto/">CONTACTO</a>
                            <div class="center"><span></span></div>
                            <a target="_self" href="https://sudproducciones.cl/inicio/">HOME</a>
                            <img class="latImg" src="./static/bandera-chile.png" alt="sud chile">
                        </div>
                        <img class="footer__img" src="./static/logo-principal.png" alt="sud logo">
                        <div class="footer__lat">
                            <img class="latImg" src="./static/bandera-peru.png" alt="sud peru">
                            <a target="_self" href="https://sudproducciones.pe/inicio/">HOME</a>
                            <div class="center"><span></span></div>
                            <a target="_self" href="https://sudproducciones.pe/contacto/">CONTACTO</a>
                        </div>
                    </div>
                </div>

                {{!-- <div class="sec2__mobile">
                    <div class="sec2__inner">
                        <div class="mobile__part mPart1">
                            <div class="part__stripTop">
                                <img class="stripTop__icon" src="./static/flecha.png">
                                <p class="stripTop__text">Convención Digital Nacional Natura 2020</p>
                            </div>
                            <div class="part__botOpen">
                                <img class="botOpen__icon" src="./static/flecha.png">
                                <img class="bot__video" src="./static/natura.gif">
                                <h2 class="divCloseIn__partText">Convención Digital<br>Nacional Natura 2020</h2>
                            </div>
                            <div class="part__botClosed">
                                <div class="botClosed__video">
                                    <video
                                        id="video-mobile-1"
                                        class="video-js vjs-theme-fantasy"
                                        controls
                                        preload="auto"
                                        poster="MY_VIDEO_POSTER.jpg"
                                        data-setup='{"fluid": true}'
                                    >
                                        <source src="./static/natura.mp4" type="video/mp4" />
                                        <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a
                                        web browser that
                                        <a href="https://videojs.com/html5-video-support/" target="_blank"
                                            >supports HTML5 video</a
                                        >
                                        </p>
                                    </video>
                                </div>
                                <div class="botClosed__logoImg">
                                    <img src="./static/natura.png">
                                </div>
                                <h2 class="botClosed__title">Convención Digital<br>Nacional Natura 2020</h2>
                                <p class="botClosed__description">
                                    Cuatro eventos digitales consecutivos, para colaboradores de todo Chile en
                                    plataforma Streaming. El evento combinó transmisión en vivo con un potente trabajo
                                    de pre y post producción en estudio de grabación, a cargo del equipo de SUD Chile.
                                    Un tremendo proyecto y un gran resultado.
                                </p>
                                <div class="divCloseOut__link">
                                    <div class="link__innerTop">CONOCE MÁS DE NUESTROS EVENTOS DIGITALES</div>
                                    <div class="link__innerBot">
                                       <a class="link__linkTo border1" href="https://sudproducciones.cl/experiencias-virtuales/">CHILE</a>
                                        <a class="link__linkTo" href="https://sudproducciones.pe/experiencias-virtuales/">PERU</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mobile__part mPart2">
                            <div class="part__stripTop">
                                <img class="stripTop__icon" src="./static/flecha.png">
                                <p class="stripTop__text">Lanzamiento Digital H&M CONSCIOUS Exclusive
                                #HMCambiemoslamoda.com</p>
                            </div>
                            <div class="part__botOpen">
                                <img class="botOpen__icon" src="./static/flecha.png">
                                <img class="bot__video" src="./static/hm.gif">
                                <h2 class="divCloseIn__partText">
                                    Lanzamiento Digital H&M CONSCIOUS Exclusive<br>
                                    #HMCambiemoslamoda.com
                                </h2>
                            </div>
                            <div class="part__botClosed">
                                <div class="botClosed__video">
                                    <video
                                        id="video-mobile-2"
                                        class="video-js vjs-theme-fantasy"
                                        controls
                                        preload="auto"
                                        poster="MY_VIDEO_POSTER.jpg"
                                        data-setup='{"fluid": true}'
                                    >
                                        <source src="./static/hm.mp4" type="video/mp4" />
                                        <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a
                                        web browser that
                                        <a href="https://videojs.com/html5-video-support/" target="_blank"
                                            >supports HTML5 video</a
                                        >
                                        </p>
                                    </video>
                                </div>
                                <div class="botClosed__logoImg">
                                    <img src="./static/hm.png">
                                </div>
                                <h2 class="botClosed__title">Lanzamiento Digital H&M CONSCIOUS Exclusive<br>#HMCambiemoslamoda.com</h2>
                                <p class="botClosed__description">
                                    Plataforma web para Perú, Chile y Uruguay, con un Desfile digital en vivo,
                                    Conversatorio vía streaming con Natalia Oreiro, Showroom digital, y todo sobre la
                                    colección. SUD Perú estuvo a cargo del diseño y desarrollo de la plataforma digital
                                    para los 3 países y de toda la coordinación, lo que garantizó que fuera un gran éxito.
                                </p>
                                <div class="divCloseOut__link">
                                    <div class="link__innerTop">CONOCE MÁS DE NUESTROS EVENTOS DIGITALES</div>
                                    <div class="link__innerBot">
                                        <a class="link__linkTo border1" href="https://sudproducciones.cl/experiencias-virtuales/">CHILE</a>
                                        <a class="link__linkTo" href="https://sudproducciones.pe/experiencias-virtuales/">PERU</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mobile__part mPart3">
                            <div class="part__stripTop">
                                <img class="stripTop__icon" src="./static/flecha.png">
                                <p class="stripTop__text">Evento Virtual LIBRE TOUR YSL</p>
                            </div>
                            <div class="part__botOpen">
                                <img class="botOpen__icon" src="./static/flecha.png">
                                <img class="bot__video" src="./static/libre.gif">
                                <h2 class="divCloseIn__partText">Evento Virtual<br>LIBRE TOUR YSL</h2>
                            </div>
                            <div class="part__botClosed">
                                <div class="botClosed__video">
                                    <video
                                        id="video-mobile-3"
                                        class="video-js vjs-theme-fantasy"
                                        controls
                                        preload="auto"
                                        poster="MY_VIDEO_POSTER.jpg"
                                        data-setup='{"fluid": true}'
                                    >
                                        <source src="./static/loreal.mp4" type="video/mp4" />
                                        <p class="vjs-no-js">
                                        To view this video please enable JavaScript, and consider upgrading to a
                                        web browser that
                                        <a href="https://videojs.com/html5-video-support/" target="_blank"
                                            >supports HTML5 video</a
                                        >
                                        </p>
                                    </video>
                                </div>
                                <div class="botClosed__logoImg">
                                    <img src="./static/loreal.png">
                                </div>
                                <h2 class="botClosed__title">Evento Virtual<br>LIBRE TOUR YSL</h2>
                                <p class="botClosed__description">
                                    Lanzamiento de realidad virtual en plataforma unity, con una fiesta VIP, vía
                                    streaming y premios, todo entorno al nuevo perfume LIBRE de YSL. El evento fue
                                    desarrollado por el equipo de producción y dirección de arte de SUD Chile y marcó
                                    un referente en cuanto a tendencias digitales.
                                </p>
                                <div class="divCloseOut__link">
                                    <div class="link__innerTop">CONOCE MÁS DE NUESTROS EVENTOS DIGITALES</div>
                                    <div class="link__innerBot">
                                        <a class="link__linkTo border1" href="https://sudproducciones.cl/experiencias-virtuales/">CHILE</a>
                                        <a class="link__linkTo" href="https://sudproducciones.pe/experiencias-virtuales/">PERU</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>

        <div class="innerContMobile">
            <div class="fixedBar">
                <a class="fixedBar__lat" target="_self" href="https://sudproducciones.cl/inicio/">
                    <img class="latImg" src="./static/bandera-chile.png" alt="sud chile">
                </a>
                <div class="center"><span></span></div>
                <a class="fixedBar__lat" target="_self" href="https://sudproducciones.pe/inicio/">
                    <img class="latImg" src="./static/bandera-peru.png" alt="sud peru">
                </a>
            </div>

            <div class="sec1">
                <img class="sec1__img" src="./static/logo-principal.png" alt="logo sud">
                <h1 class="sec1__title">NUESTROS ÚLTIMOS <span class="titleBold">EVENTOS DIGITALES</span></h1>
                <div class="sec1__scrollCont">
                    <p class="scrollTop">Scroll<br>down</p>
                    <i class="scrollBot fi-xnsdxl-chevron-solid"></i>
                </div>
            </div>

            <div class="sec2">
                <div class="innerPart innerSec1">
                    <div class="innerPart__logoImg">
                        <img src="./static/natura.png">
                    </div>
                    <div class="innerPart__video">
                        <video id="video-mobile-1" class="video-js vjs-theme-fantasy" controls preload="auto"
                            poster="./static/fotoNatura.jpg" data-setup='{"fluid": true}'>
                            <source src="./static/natura.mp4" type="video/mp4" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                    video</a>
                            </p>
                        </video>
                    </div>
                    <p class="innerPart__partText">CONVENCIÓN DIGITAL NACIONAL NATURA 2020</p>
                    <p class="innerPart__partText top">CHILE</p>
                    <p class="innerPart__partText2">
                        Cuatro eventos digitales consecutivos, para colaboradores de todo Chile en
                        plataforma Streaming. El evento combinó transmisión en vivo con un potente
                        trabajo
                        de pre y post producción en estudio de grabación, a cargo del equipo de SUD
                        Chile.
                        Un tremendo proyecto y un gran resultado.
                    </p>
                    <div class="innerPart__link">
                        <div class="link__innerTop">CONOCE MÁS DE NUESTROS EVENTOS DIGITALES</div>
                        <div class="link__innerBot">
                            <a target="_self" class="link__linkTo border1"
                                href="https://sudproducciones.cl/experiencias-virtuales/">CHILE</a>
                            <a target="_self" class="link__linkTo"
                                href="https://sudproducciones.pe/experiencias-virtuales/">PERU</a>
                        </div>
                    </div>
                </div>
                <div class="innerPart innerSec2">
                    <div class="innerPart__logoImg">
                        <img src="./static/hm.png">
                    </div>
                    <div class="innerPart__video">
                        <video id="video-mobile-2" class="video-js vjs-theme-fantasy" controls preload="auto"
                            poster="./static/fotoHM.jpg" data-setup='{"fluid": true}'>
                            <source src="./static/hm.mp4" type="video/mp4" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                    video</a>
                            </p>
                        </video>
                    </div>
                    <p class="innerPart__partText">LANZAMIENTO DIGITAL H&M CONSCIOUS EXCLUSIVE</p>
                    <p class="innerPart__partText top">PERÚ</p>
                    <p class="innerPart__partText2">
                        Plataforma web para Perú, Chile y Uruguay, con un Desfile digital en vivo,
                        Conversatorio vía streaming con Natalia Oreiro, Showroom digital, y todo sobre la
                        colección. SUD Perú estuvo a cargo del diseño y desarrollo de la plataforma digital
                        para los 3 países y de toda la coordinación, lo que garantizó que fuera un gran éxito.
                    </p>
                    <div class="innerPart__link">
                        <div class="link__innerTop">CONOCE MÁS DE NUESTROS EVENTOS DIGITALES</div>
                        <div class="link__innerBot">
                            <a target="_self" class="link__linkTo border1"
                                href="https://sudproducciones.cl/experiencias-virtuales/">CHILE</a>
                            <a target="_self" class="link__linkTo"
                                href="https://sudproducciones.pe/experiencias-virtuales/">PERU</a>
                        </div>
                    </div>
                </div>
                <div class="innerPart innerSec3">
                    <div class="innerPart__logoImg">
                        <img src="./static/loreal.png">
                    </div>
                    <div class="innerPart__video">
                        <video id="video-mobile-3" class="video-js vjs-theme-fantasy" controls preload="auto"
                            poster="./static/fotoYSL.jpg" data-setup='{"fluid": true}'>
                            <source src="./static/loreal.mp4" type="video/mp4" />
                            <p class="vjs-no-js">
                                To view this video please enable JavaScript, and consider upgrading to a
                                web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5
                                    video</a>
                            </p>
                        </video>
                    </div>
                    <p class="innerPart__partText">EVENTO VIRTUAL LIBRE TOUR YSL</p>
                    <p class="innerPart__partText top">CHILE</p>
                    <p class="innerPart__partText2">
                        Lanzamiento de realidad virtual en plataforma unity, con una fiesta VIP, vía
                        streaming y premios, todo entorno al nuevo perfume LIBRE de YSL. El evento fue
                        desarrollado por el equipo de producción y dirección de arte de SUD Chile y
                        marcó
                        un referente en cuanto a tendencias digitales.
                    </p>
                    <div class="innerPart__link">
                        <div class="link__innerTop">CONOCE MÁS DE NUESTROS EVENTOS DIGITALES</div>
                        <div class="link__innerBot">
                            <a target="_self" class="link__linkTo border1"
                                href="https://sudproducciones.cl/experiencias-virtuales/">CHILE</a>
                            <a target="_self" class="link__linkTo"
                                href="https://sudproducciones.pe/experiencias-virtuales/">PERU</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footerBar">
                <div class="footerBar__top">
                    <img class="top__img" src="./static/logo-principal.png" alt="sud logo">
                </div>
                <div class="footerBar__bot">
                    <div class="bot__lat">
                        <img class="latImg" src="./static/bandera-chile.png" alt="sud chile">
                        <a target="_self" href="https://sudproducciones.cl/inicio/">HOME</a>
                        <div class="center"><span></span></div>
                        <a target="_self" href="https://sudproducciones.cl/contacto/">CONTACTO</a>
                    </div>
                    <div class="bot__lat">
                        <a target="_self" href="https://sudproducciones.pe/contacto/">CONTACTO</a>
                        <div class="center"><span></span></div>
                        <a target="_self" href="https://sudproducciones.pe/inicio/">HOME</a>
                        <img class="latImg" src="./static/bandera-peru.png" alt="sud peru">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://vjs.zencdn.net/7.8.4/video.js"></script>
    <script src="https://kit.fontawesome.com/f0a93d6362.js" crossorigin="anonymous"></script>
</body>

</html>