@font-face {
    font-family: 'DINPro-CondMedium';
    src: url("../static/fonts/DINPro-CondMedium.otf");
}

@font-face {
    font-family: 'DINPro-CondBold';
    src: url("../static/fonts/DINPro-CondBold.ttf");
}

$font-family-primary: "DINPro-CondMedium", sans-serif;
$font-family-bold: "DINPro-CondBold", sans-serif;
