@font-face {
    font-family: 'Galyon-Regular';
    src: url("../static/fonts/Galyon-Regular.otf");
}

@font-face {
    font-family: 'HMSans-SemiBold';
    src: url("../static/fonts/HMSans-SemiBold.otf");
}

@font-face {
    font-family: 'HMSerif-Regular';
    src: url("../static/fonts/HMSerif-Regular.ttf");
}

@font-face {
    font-family: 'HMSerif-SemiBold';
    src: url("../static/fonts/HMSerif-SemiBold.ttf");
}

$font-family-primary: "Galyon-Regular", sans-serif;
$font-family-bold: "HMSans-SemiBold", sans-serif;

$font-family-secondary: "HMSerif-Regular", sans-serif;